/* Common font and utilities */
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: rgba(255, 144, 14, 0.1); */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header menu-bar style css */
.header {
    background-color: #FFF8F3
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.company-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.menu .menu-bar {
    display: flex;
    gap: 30px;
}

.menu-bar a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(61, 51, 51);
    text-decoration: none;
}

/* Company Brand style */
.brands,
.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.brand {
    width: 30vw;
    margin-bottom: 50px;
}

.brand-title {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}

.brand-description {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.btn-primary {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: coral;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0;
}

.brands img {
    width: 60vw;
}

/* feature-container style css */
.first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 60vw;
    margin-top: 100px;
}

.first-container img {
    width: 200px;
    height: 200px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

/* second-container */
.second-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 60vw;
    margin-top: 100px;
    padding: 50px;
}

.second-container img {
    width: 600px;
    height: 950px;
    padding: 5px;
}

.second-title {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}

.description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}


.box {
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}

.btn-secondary {
    font-size: 16PX;
    font-weight: 500;
    color: white;
    width: 200PX;
    height: 100PX;
    background-color: coral;
    border-radius: 5px;
    padding: 20PX;
    border: 0;
}

.btn-secondary .experience {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

/* Some Facts / third section */
.third-container {
    width: 60vw;
}

.some-facts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 50px;
}

.facts-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.facts-icon .icon-box {
    text-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid #FF900E;
    transition: width 2s, height 2s, transform 5s;
    padding: 10px;
}

.icon-box:hover {
    width: 160px;
    height: 160px;
    transform: rotate(20deg);
    background-color: aquamarine;
}

.facts-icon img {
    width: 25px;
    height: 25px;
}

/* Sponsor section */
.sponsor-container .sponsors {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 100px;
}

.sponsor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    margin: 20px;
}

.sponsor-title {
    font-weight: 700;
    font-size: 30px;
    color: #131313;
}

/* contact style */
.contact {
    display: flex;
    gap: 70px;
    background: #FFF8F3;
    padding: 80px 80px;
    width: 60vw;
    margin-top: 30px;
}

.contact .section-title {
    text-align: left;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

.contact a {
    text-decoration: none;
}

/* footer section */
.footer-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100px;
    background-color: #FFF8F3;
}

/* Media Query  style*/
@media screen and (max-width: 600px) {
    .menu, .menu-bar, .brand, .brand-image, .first-container, .image-text, .second-container-text, .box-image, .some-facts, .facts-icon, .sponsors, .sponsor, .contact, .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 5px;
                
    }
    .second-container, .third-container, .sponsor-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .image-container, .image-text{
        display: flex;
        flex-direction: column;
    }
    
    .footer{
        text-align: center;
    }
    
}